.title {
  margin-bottom: 15px;
  font-size: 45px;
  font-family: fantasy;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(1px 4px 4px rgb(21,181,255));
  letter-spacing: 3px;
  color: rgb(18 28 101);
}

.wrapper {
  display: flex;
  justify-content: center;
}
