.list {
  width: 100%;
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: -20px;
  min-height: 450px;
  list-style: none;
}

.item {
  max-width: 200px;
  margin: 15px;
}

.photo {
  height: 300px;
  width: 200px;
  margin-right: 10px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.character {
  font-style: italic;
  font-size: 17px;
}