.wrapper {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.message {
  font-weight: bold;
  font-size: 26px;
  color: red;
  display: inline-block;
}

@media (min-width: 768px) {
  .wrapper {
    width: 767px;
  }

  img {
    display: inline-block;
  }
}
