.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: 23px;
  color: black;
}

.activeLink {
  color: #15b5ff;
  text-shadow: 1px 1px 2px #fff, 0 0 10px #09efff;
  font-size: 25px;
  font-weight: 700;
  
}

